
<div class="container">
  <div class="image">
    <%= image_tag("scribble_logo", :alt => "rss feed") %>
  </div>
<h3>Where you can scribble your thoughts or read other scribbles about anything and everything!</h3>

<h4><%= link_to "Post a New Scribble", new_post_path %> | <%= link_to "All Posts", posts_path %></h4>
</div>
