<h1>RECENT POSTS</h1>
<div class = "buttons">
<a href="/posts">View All</a>
  <%= link_to "Add New", new_post_path %>
</div>
<% @posts[0..2].each do |post| %>
<div class = "post">
  <ul>
      <li><h2><%=link_to "#{post.title}", post%></h2></li>
  </ul>
</div>
<%end%>
