<h3>Read a blog:</h3>
<ul>
  <% @blogs.each do |blog| %>
    <li> 
      <%= link_to "#{blog.subject}", blog_path(blog.id) %> 
    , last edited by 
    <%= blog.user %>
    </li>
  <% end %>
</ul>

<h3><%= link_to "Post your own blog!", new_blog_path %></h3>



<!-- , posted at #{blog.created_at} -->