<p>Commenter: <%= comment.author %></p>
<p> <%= comment.text %></p>
<p>
  <%= link_to 'Delete Comment', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
<p><%= link_to "Edit", edit_post_comment_path(@post, comment)%></p>
