<% @comment[:blog_id] = @blog %>
<% @comment[:user_id] = @user %>


<%= form_for [@blog, @comment] do |f| %>

 <p> <%= f.label :content %><br />
  <%= f.text_field :content %>
  </p>

  <%= f.submit %>
<% end %>