<h2>Edit Post</h2>

<%= render "form" %>

<%# link_to 'Delete Comment', [comment.post, comment],
             method: :delete,
             data: { confirm: 'Are you sure?' } %>


<%= link_to "Delete Comment", post_comment_path(@post, @comment), class: "delete", method: :delete %> |
<%= link_to "Back", post_path(@post) %>
