<h2>Edit Comment</h2>

<%= render partial: "form" %>

<form action="/comments/<%= @comment.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
  <input type="hidden" name="_method" value="delete">
  <input class="button-delete" type="submit" value="Delete!">
</form>
