<h2>Welcome to Scribbler</h2>

<% @comments.each do |comment| %>
<ul>
  <li>
    <p><%= comment.title %></p>
  </li>
  <li>
    <%= link_to comment.author, post_comments_path %>
  </li>
  <li>
    <p><%= comment.article %></p>
  </li>
  <li>
    <p>Date Created <%= comment.created_at %></p>
  </li>
</ul>
  <% end %>
