
<body>

    <ul>
      <% @comments.each do |comment| %>
        <li><%= comment.title %></li>
        <li><%= comment.author%></li>
        <li><%= comment.body %></li>
      <% end %>
    </ul>
</body>
