<h1>Comments <a href="/comments/new">(+)</a></h1>

<ul>
  <% @comments.each do |comment| %>
    <li>
      <a href="/comments/<%= comment.body %>">
        <%= comment.post %>
      </a>
    </li>
  <% end %>
</ul>
