<h1> All Artists <a href="/artists/new">(+)</a></h1>

<ul>
  <% @comments.each do |string| %>
  <li>
    <h2><%= string.title %> <a href="/posts/<%= post.id %>/edit">(edit)</a></h2>
      <%= string.comment %>
    </a>
  </li>
  <% end %>
</ul>
