<h1>Mad Comments here <a href="/comments/new">(+)</a></h1>

<ul>
  <% @comments.each do |comment| %>
    <li>
      <a href="/comments/<% comment.id %>">
        <%= comment.name %> <%= comment.house.name %>
      </a>
    </li>
  <% end %>
</ul>
