<h2>Comments</h2>
<h3><%= link_to "New Comment", new_comment_path %></h3>
<ul>
  <% @comment.each do |comment| %>
    <li>
      <p>
      <%= link_to comment.title, comment %> | <%= link_to 'Delete Comment', comment_path(comment),
                                              method: :delete,
                                              data: { confirm: 'Are you sure?' } %>
      </p>
    </li>
  <% end %>
</ul>
