<h2>New Comment</h2>

<p>What do you think about <%= User.find(@blog.user_id).email %>'s post '<%= @blog.subject %>'? Here it is again:</p>

<blockquote><%= @blog.content %></blockquote>
<%= render partial: "form" %>
