// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  // background-color: red;
  // text-align: center;
}

h1{
  color: blue;
  text-align: center;
}
h2{

  text-align: center;
}
h3{
  text-align: center;
  padding-bottom: 100px;
}
table{
  // text-align: center;
}
#tablebox{
display:flex;
justify-content:center;
align-items:center;
}
.alert{
  color:#f00;
 }
