<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style> img {height: 600px; display: block; margin-left: auto; margin-right: auto; } </style>
</head>
<body>
  <%= image_tag("scribble3.jpg", :alt => "rss feed") %>
</body>
</html>
