<div class = "logobox">
  <%= image_tag"scribblelogo.png", class: "logo" %>
  Write. Post. Comment. Repeat.
</div>

<div class="main">
  <p>
    Welcome to Scribble! Use this app to jot a post, add your two cents to the existing posts, or tag posts to custom categories.
  </p>

</div>
