<div class = "logobox">
  <%= image_tag"scribblelogo.png", class: "logo" %>
  Write. Post. Comment. Repeat.
</div>

<div class="main">
  <p>
    Welcome to Scribble! Sign up to jot a note, optionally share it with others, or add your two cents to the existing community posts.
  </p>

</div>
