<div class="posts-index">

  <h2><strong>Posts</strong> <%= link_to "(+)", new_post_path %></h2>

  <div class="all-posts">
      <% @posts.each do |post| %>
    <h3 class="post-title">
        <%= link_to post.title, post %>
    </h3>
    <p class="post-content">
        <%= post.content %>
    </p>
      <% end %>
  </div>

  <div class="empty">
    <span>
  </div>

</div>
