<h2>Posts <%= link_to "(+)", new_post_path %></h2>


  <% @posts.each do |post| %>
    <div>
      <%= link_to post.title, post %>
      <p> <%= post.post_text %> </p>
      <hr>
    </div>
  <% end %>
