
<% @posts.each do |post| %>
<div class="article">
  <h2 class="headline"><a href="/posts/<%=post.id%>"><%= post.title %></a></h2>
  <p class="body"><%= post.body %></p>
</div>
<% end %>

<p class="new"><a href="/posts/new">Add new article</a></p>
