<div id="new-post-container">
  <%= link_to "New Post", new_post_path, id: "new-post" %>
</div>

<% @posts.each do |post| %>
  <h2 id="post-title"><%= link_to post.title, post %></h2>
  <p id="post-body"><%= post.body %> </p>
<% end %>
