<!--USED TUNR-RAILS-5 LESSON AS A REFERENCE FOR THIS FILE AND PREVIOUS OFFICE HOURS. SEE REFERENCES.md FILE FOR LINK -->
<h1>Posts <a href="/posts/new">(+)</a></h1>

<ul>
  <% @posts.each do |post| %>
    <li>
      <a href="/posts/<%= post.id %>">
        <%= post.topic %>
      </a>
    </li>
  <% end %>
</ul>
<!--USED TUNR-RAILS-5 LESSON AS A REFERENCE FOR THIS FILE AND PREVIOUS OFFICE HOURS. SEE REFERENCES.md FILE FOR LINK -->
