<h1>Todos Los Mensajes</h1>

<% @posts.each do |p| %>

<div class="thread"><%= link_to p.title.capitalize, post_path(p) %>
<%= link_to "Edit", edit_post_path(p) %></div>


<%end%>

<h3><%= link_to "New Post", new_post_path %></h3>
