<!DOCTYPE html>

<div class="main">
  <div class="container">
    <h1 class="title">Adrian's Blog</h1>
    <p>Tagline that sounds rad</p>
  </div>
</div>
  <div>
    <form method="link" action="page1.htm">
      <input type="submit" class="button back" value="previous">
    </form>
  </div>
  <div>
    <form method="link" action="page1.htm">
      <input type="submit" class="button next" value="next">
    </form>
  </div>

  <div>
form with text box 
  </div>
