<h1>All Posts</h1>
<h2><%= link_to "New Post", new_post_path %></h2>

<% @posts.each do |post| %>
<p><%= link_to post.title, post_path(post) %></p>
<p>Written By: <%= post.author %></p>
<p><%= post.body %></p>
<% end %>
