<h2>All the Posts <%= link_to "(Contribute, please)", new_post_path(@post) %> </h2>

<p>
  <%@posts.each do |post| %>
    <article>
      <h2> <%= link_to post.title, post_path(post) %> </h2>
        <%= post.article %>
    </article>
  <% end %>
</p>
