<ul>
  <% @posts.each do |post| %>
  <li>
    <a href="/posts/<%= post.id %>">
      <%= post.title %>
    </a>
    <p> <%= post.content %></p>
  </li>
  <% end %>
</ul>

<a href="/posts/new">Create New Post!</a>
