<!-- links to new post form -->
<%= link_to 'add New', new_post_path %>

<!-- lists all posts created -->
<div id="posts-list">
  <% @posts.each do |post| %>

  <h3><%= post.title %></h3>

  <% end %>
</div>
