<!-- <h1>Scribble!</h1> -->
<%= button_to "New Post", new_post_path, method: :get, class: "newPostButton", data: { confirm: "Would you like to add a new post?"} %>

<div class="indexContainer">

<% @posts.each do |post| %>
  <div class="indexPost">
    <img class="indexPhoto" src ="<%= post.photo_url %>"/>
    <p class="indexPhotoText"><%= link_to post.title, post, class: "indexTitleText" %> </p>
  </div>
<% end %>

</div>
