<!-- <body> -->
<div class="headspace">
  <h1 class="title">Adrian's Blog</h1>
</div>

<div id="previous" class="button">previous</div>

<div id="next" class="button">next</div>

<div id="new_post">
  

</div>









<!-- </body>  -->
