<h2>Posts</h2>

<% @posts.each do |post| %>
  <div class="post">
    <%= link_to post.title, post_path(post) %> <%= link_to "Edit", edit_post_path(post)%> <%= link_to "Delete", post_path(post), method: 'delete'%>
  </div>
<% end %>
