<h2>Posts#index</h2>
<% if @posts.length == 0 %>
  <p>There are no posts.</p>
<% else %>
  <ul><%= @posts.each do |post| %>
    <li><%= link_to post.titile, post %> (<%= link_to post.timestamp %>)</li>
    <% end %>
  </ul>
<% end %>
