<div>
  <% @posts.each do |post| %>
  <p>
      <h2>  <a href="/posts/<%= post.id %>">
         <%= post.title %>
      </a>
      </h2>

    <p class="view_post"> <%= post.content %></p>
  </p>
  <% end %>
</div>

<a href="/posts/new">Create New Post!</a>
