
<% @posts.each do |post| %>
<p class="ptitle"><%= post.title%></p>
<p class="pauthor"><%= post.author%></p>
<div class="go_postal">
  <p class="show_content"><%= post.post_content[0,700]%>...(click below for full post)</p>
  <p><%= link_to"see more",post_path(post),:class => "a"%></p>
</div>
<% end %>
