<h1>This Is Where The Posts Go</h1>
<p>
  <% @posts.reverse_each do |p| %>
  <div class="post_container">
    <p class="title"> <%= p.title %> </p>
    <p class="body"> <%= p.body %> </p>
    <p class="author"> <%= p.author %> </p>
    <p></p>
  </div>
  <% end %>
</p>
