<h1>Hello World</h1>



<h2>Posts <a href="/posts/new">(+)</a></h2>

<ul>
  <% @posts.each do |post| %>
    <li>
      <a href="/posts/<%= post.id %>">

        <%= post.title %>
        <%= post.body %>

      </a>
    </li>
  <% end %>
</ul>
