<%= link_to "New Post", new_post_path, id: "new-post" %>

<% @posts.each do |post| %>
  <h2 id="post-title"><%= post.title %></h2>
  <p id="post-body"><%= post.body %> </p>
  <p id="edit-post">Edit Post</p>
<% end %>
