<form method="post" action="/posts">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>title</label>
  <input type="text" name="post[title]">

  <label>author</label>
  <input type="text" name="post[author]">

  <label>body</label>
  <input type="textarea" name="post[post_body]">

  <input type="submit" value="Create Post">
</form>
