<h2><%= @post.title %> <%= link_to "(edit)", edit_post_path(@post) %> <%= link_to "(comment)", new_comment_path(@post, :p_id => @post) %> </h2>
<p><%= @post.content %>

<ul>
  <% @post.comments.each do |comment| %>
  <p>Comment: </p>
  <p><%  comment.content %>
  <% end %>
</ul>
