
<div class="showtime">
  <p class="ptitle"><%= @post.title%></p>
  <p class="pauthor"><%= @post.author%></p>
  <p class="timestamp"><%= @post.created_at%></p>
  <p class="pcontent"><%= @post.post_content%></p>

</div>

<!-- <div>
  <form method="link" action="page1.htm">
    <input type="submit" class="button back" value="previous">
  </form>
</div>
<div>
  <form method="link" action="page1.htm">
    <input type="submit" class="button next" value="next">
  </form>
</div> -->
