
  <p><%= @post.title%></p>
  <p><%= @post.author%></p>
  <p><%= @post.post_content%></p>
  <p><%= @post.created_at%></p>


<div>
  <form method="link" action="page1.htm">
    <input type="submit" class="button back" value="previous">
  </form>
</div>
<div>
  <form method="link" action="page1.htm">
    <input type="submit" class="button next" value="next">
  </form>
</div>
