<h1>This Is Where ONLY ONE Post Goes</h1>
<p>
  <div class="post_container">
    <p class="title"> <%= @post.title %> </p>
    <p class="body"> <%= @post.body %> </p>
    <p class="author"> <%= @post.author %> </p>
    <p class="comment">
        <% @comment.reverse_each do |comment| %>
        <%= comment.body %>
        <% end %>
    </p>
    <p></p>
  </div>
</p>
