<h1><%= @post.title.capitalize %></h1>
<section><%= @post.text %></section>
<h5>Edit | <%= link_to 'Delete', post_path, method: :delete, data: {confirm: 'Are you sure?'}%></h5>
<h6>Created at: <%= @post.created_at %></h6>
