<div class="allposts">
  <% @posts.each do |post| %>
  <div class="singlepost">
    <a href="/posts/<%= post.id %>">
      <%= post.title %>
    </a>
    <p>
      <%= post.content %>
    </p>
  </div>
  <% end %>
</div>
