<h2> 你好 - Welcome to Scribble! </h2>

<h2>
<%= link_to "(+)", new_post_path %>
</h2>

<ul>
<% @posts.each do |post| %>
  <li>
    <%= link_to post.title, post_path(post)%>
    </a>
  </li>
<% end %>
</ul>
