<h1>Posts</h1>

<article>
    <% @posts.each do |post|%>
        <h2>
            <a href="/posts/<%= post.id %>">
                <%= posts.title%>
            </a>
        </h2>
        <p>
            <%= posts.content%>
        </p>
    <% end %>
</article>
