<div class="allposts">
  <% @posts.each do |post| %>
  <div class="singlepost">
    <h2>
      <a href="/posts/<%= post.id %>">
      <%= post.title %>
      </a>
    </h2>
    <h3><%=post.created_at %></h3>

    <p>
      <%= post.content %>
    </p>
  </div>
  <% end %>
</div>
