/**{
  border: .5px;
  border-style: solid;
  border-color: gray;
}*/
html, body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url('http://thedreamwithinpictures.com/wp-content/uploads/2014/04/22ec5__2048.jpg');
  background-size: cover;
  font-family: 'Amatic SC', cursive;
  color: #ded399;
}
.title {
  font-size: 90px;
  font-weight: lighter;
  text-shadow: black 0 2px 0;
  margin-left: 1em;
  position: relative;
}

.write_new {
  padding:.4em;
  margin-left: 20%;
  margin-right: 65%;
  border-radius: 100px;
  background-color: rgba(45, 0, 0, 0.5);

}
.ptitle {
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  text-shadow: black 0 2px 0;
}
.pauthor {
  font-size: 30px;
  margin: 0;
  text-align: center;
  text-shadow: black 0 2px 0;
}

.a {
    color: rgb(129, 157, 193);
    font-size: 40px;
    text-decoration: none;
}
.go_postal {
  font-size: 30px;
  padding-left: 5%;
  background-color: rgba(45, 0, 0, 0.5);
  margin: 3em;
  padding: 3%;
  border-radius: 10px;
}

.container {
  margin: 0 auto;
  width: 960px;
}

@media screen and (max-width: 800px) {
    body {
        background-size: auto 100%;
    }
    .container {
        width: 100%;
    }
  }

/*new post css move later*/
.label, .showtime {
  margin: 1em;
  font-size: 20px;
}
.label {
  font-size: 30px;
}
.input {
  border-radius: 4px;
  margin-bottom: 10px;
  border: .4px solid;
  margin-left:30px;
}
.title_box{
  width:450px;
}

.post_box {
  border-radius: 5px;
  padding:10px;
  width: 500px;
  height: 500px;
}

.pcontent{
  text-align: center;
  margin-right:30%;
  margin-left:30%;
  background-color: rgba(45, 75, 6, 0.5);
  border-radius: 5px;
  padding:10px;

}

.submit_button {
  margin-top:10px;
  margin-left: 15%;
  border-radius: 23px;
  border: none;
  background-color: rgba(45, 75, 6, 0.5);
  font-family: 'Amatic SC', cursive;
  color: rgb(129, 157, 193);
  font-size: 30px;
  padding: 10px;
}

.input, .post_box{
  background-color: rgba(45, 75, 6, 0.5);
}
/*show style - move later */
.timestamp {
  text-align: right;
}

.page {
  padding-bottom: 5%;
}
