// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments {
  margin: 5px auto;
  width: 50%;
  height: auto;
  border: 1px solid black;
}

.comment * { padding: 5px 0; }
