// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div {
  img {
    margin: auto;
    display: block;
    height: 300px;
    position: absolute;
  }
  h2.welcome {
    font: 400 60px/1.2 'Merienda One', Helvetica, sans-serif;
    color: rgba(0,0,0,0.7);
    text-shadow: 3px 3px 3px #fff;
    text-align: center;
    color: grey;
  }
}
