<h2>All Posts With <%=@category.descrip%> Tag</h2>

<%@category.tags.each do |tag|%>
  <ul>
    <li><%=tag.post.title%>  <%= link_to '(Delete)', post_tag_path(tag.post, tag), :confirm => 'Are you sure?', :method => :delete%></li>
  </ul>
<%end%>
