
<!DOCTYPE html>
<html>
  <head>
    <title> GA - Scribble</title>

  </head>

  <body>
<<<<<<< HEAD
=======

  	<nav>
  		<%= link_to "View all Posts", posts_path %>
  	</nav>


>>>>>>> fixedmaster
    <%= yield %>
  </body>
</html>
