<!DOCTYPE html>
<html>
<head>
  <title>Sinatra</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h1>Little Ditties by Sinatra</h1>
  <h2>a rolling anthology</h2>
</header>
<nav>
  <a href="/">Home</a>
  <a href="/posts/new">New Ditty</a>
</nav>

<%= yield %>

</body>
</html>
